.navbar {
  height: rem(750px);
  width: rem(300px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color:#676F9D;
color: #ffff;
box-shadow:0 4px 7px -2px inset  rgb(0, 0, 0,0.8);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid var(--mantine-color-blue-7);
}

.version {
  background-color: var(--mantine-color-blue-7);
  color: var(--mantine-color-white);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
}

.header a{
  width: 100%;
  text-decoration: none;
}
  .link:hover{
  background-color: #ffffff33;
  border-radius: 10px;

  }